<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
           
     <bean id="PropertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="1" />
		<property name="locations">
			<list>
				<value>classpath:test.properties</value>
			</list>
		</property>
	</bean>
           
	<context:component-scan base-package="com.orangeleap.tangerine">
		<context:exclude-filter type="annotation" expression="java.lang.Deprecated"/>
	</context:component-scan>

	<aop:aspectj-autoproxy />



	<context:component-scan base-package="com.orangeleap.tangerine">
		<context:exclude-filter type="annotation" expression="java.lang.Deprecated"/>
	</context:component-scan>
	
	<import resource="applicationContext-integration-test.xml"/>
	
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:tangerine-sqlmap-config.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/orangeleaptest" />
		<property name="username" value="orangeleap"/>
		<property name="password" value="orangeleap"/>
	</bean>
	
	<!-- TODO: to be replaced with mock -->
	<bean id="tangerineUserHelper" class="com.orangeleap.tangerine.util.TangerineUserHelperImpl"/>

    <!-- Load EHCache bean here, since it is needed by messageSource -->
    <bean id="cacheManager"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
          p:configLocation="classpath:ehcache.xml"/>

    <bean id="messageResourceCache"
          class="org.springframework.cache.ehcache.EhCacheFactoryBean"
          p:cacheManager-ref="cacheManager"
          p:cacheName="messageResourceCache"
          />
    
    <bean id="pageCustomizationCache"
          class="org.springframework.cache.ehcache.EhCacheFactoryBean"
          p:cacheManager-ref="cacheManager"
          p:cacheName="pageCustomizationCache"
          />

    <bean id="picklistCache"
          class="org.springframework.cache.ehcache.EhCacheFactoryBean"
          p:cacheManager-ref="cacheManager"
          p:cacheName="picklistCache"
          />

   <!--
      The following beans were created and used in the JMS/MOM poc shown during
      Iteration 6.  These beans can be removed but are being left right now as
      an example of how to use Spring with JMS/MOM

	<bean id="connectionFactory"  class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://10.0.2.133:61616" />
	</bean>

	<bean id="testDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="test.mpower.queue" />
	</bean>

	<bean id="testDestinationTopic" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg index="0" value="test.mpower.topic" />
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
	  	<property name="connectionFactory" ref="connectionFactory" />
	  	<property name="defaultDestination" ref="testDestination" />
	  	<property name="receiveTimeout" value="60000" />
	</bean>

	<bean id="creditGateway" class="com.orangeleap.tangerine.service.jms.TangerineCreditGatewayImpl">
	  	<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>
	-->
	
			<bean id="paymentGateway" class="com.orangeleap.tangerine.service.payments.OrbitalPaymentGateway">
			<property name="configFile" value="/usr/local/paymentech/config/linehandler.properties"/>
		</bean>

		<bean id="checkService" class="com.orangeleap.tangerine.service.impl.CheckServiceImpl">
		  <property name="url" value="http://www.echex.net/wsv/batch102.cfc"/>
		</bean>

		<bean id="achGateway" class="com.orangeleap.tangerine.service.payments.EchexPaymentGateway">
		  <property name="checkService" ref="checkService"/>
		</bean>
	
</beans>