<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="com.mpower"/>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="MPowerUnitTestPu" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:tangerine-sqlmap-config.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>org.hsqldb.jdbcDriver</value>
		</property>
		<property name="url">
			<value>jdbc:hsqldb:mem:MPowerOpen</value>
		</property>
		<property name="username">
			<value>sa</value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>
	
	<!-- TODO: to be replaced with mock -->
	<bean id="tangerineUserHelper" class="com.mpower.util.TangerineUserHelperImpl"/>
	

   <!--
      The following beans were created and used in the JMS/MOM poc shown during
      Iteration 6.  These beans can be removed but are being left right now as
      an example of how to use Spring with JMS/MOM

	<bean id="connectionFactory"  class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://10.0.2.133:61616" />
	</bean>

	<bean id="testDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="test.mpower.queue" />
	</bean>

	<bean id="testDestinationTopic" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg index="0" value="test.mpower.topic" />
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
	  	<property name="connectionFactory" ref="connectionFactory" />
	  	<property name="defaultDestination" ref="testDestination" />
	  	<property name="receiveTimeout" value="60000" />
	</bean>

	<bean id="creditGateway" class="com.mpower.service.jms.MPowerCreditGatewayImpl">
	  	<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>
	-->

	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
</beans>