<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MPower Open Test Suite" verbose="2" parallel="false">
	<test name="mpower-tests">
        <packages>
	        <package name="com.orangeleap.tangerine.test.controller"></package>
        	<package name="com.orangeleap.tangerine.test.dao.ibatis"></package>
        	<package name="com.orangeleap.tangerine.test.dao.jdbc"></package>
        	<package name="com.orangeleap.tangerine.test.service.impl"></package>
        	<package name="com.orangeleap.tangerine.test.service.payments"></package>
	        <package name="com.orangeleap.tangerine.test.service.validator"></package>
        	<package name="com.orangeleap.tangerine.test.util"></package>
        	<package name="com.orangeleap.tangerine.test.web.customization"></package>
            <package name="com.orangeleap.tangerine.test.web.flow"></package>
            <package name="com.orangeleap.tangerine.test.integration"></package>
            <package name="com.orangeleap.tangerine.test.ws"></package>
        </packages>
    </test>
</suite>
