<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MPower Open Test Suite" verbose="2" parallel="false">
	<test name="mpower-tests">
        <packages>
        	<package name="com.mpower.test.controller.validator"></package>
        	<package name="com.mpower.test.dao.ibatis"></package>
        	<package name="com.mpower.test.dao.jdbc"></package>
        	<package name="com.mpower.test.service.impl"></package>
        	<!-- <package name="com.mpower.test.service.payments"></package> -->
        	<package name="com.mpower.test.web.customization.handler"></package>
        	<package name="com.mpower.test.util"></package>
        	<package name="com.mpower.test.web.customization"></package>
        </packages>
    </test>
</suite>
