
/* Various sprites used in the ExtJS grids and headers */
.red-dot {
    background: transparent url("../images/bullet_ball_glass_red.png") no-repeat center center !important;
}

.green-dot {
    background: transparent url("../images/bullet_ball_glass_green.png") no-repeat center center !important;
}

.blue-dot {
    background: transparent url("../images/bullet_ball_glass_blue.png") no-repeat center center !important;
}

.grey-dot {
    background: transparent url("../images/bullet_ball_glass_grey.png") no-repeat center center !important;
}

.yellow-dot {
    background: transparent url("../images/bullet_ball_glass_yellow.png") no-repeat center center !important;
}

.address-book {
    background: transparent url("../images/house.png") no-repeat center center !important;
}

.email {
    background: transparent url("../images/address_book.png") no-repeat center center !important;
}

.telephone {
    background: transparent url("../images/receiver.png") no-repeat center center !important;
}

.yellow-star {
    background: transparent url("../images/star_yellow.png") no-repeat center center !important;
}

/* idents a paragraph. used in the Contact Info accordion panel */
p.x-indented {
    padding-left: 5px;
}

/* makes the text in the bbar subdued */
.ytb-text {
    color: #555;
}


strong {
    font-weight: bold;
}

div.ext-widget {
    text-align: left;
    padding: 0;
    margin: 0;
}

#contactInfoPanel .x-panel-header, #contactInfoPanel x-window-header-text, p.left, div.x-combo-list-item,
    div.x-menu a.x-menu-item, div.ext-widget span.x-window-header-text, div.ext-widget span.x-panel-header-text,
    div.ext-widget div.x-grid3-cell-inner {
    text-align: left;
}
div#actions .x-btn-noicon .x-btn-small .x-btn-text {
    height: 20px;
}

button.add { background-image: url("../images/icons/add.png"); }
button.customize { background-image: url("../images/icons/gears.png"); }

div#managerGrid td.x-grid3-col.x-grid3-cell.x-grid3-td-grip { cursor: move; background: #C8CAC8 url(../images/icons/grip.jpg) center center no-repeat; }
div#managerGrid table.saveButton td,
    div#managerGrid table.button td,
    div#managerGrid table.disabledButton td,
    div.win table.saveButton td,
    div.win table.button td,
    div.win table.disabledButton td { background-image: none; }

div#managerGrid table.disabledButton td, div.win table.disabledButton td { cursor: default; }

#managementGrid #savedMarker, #managerGrid #savedMarker { visibility: hidden; font-size: 12px; }
#customizeWin #customizedFieldsSavedMarker, #optionsWin #optionsFieldsSavedMarker { display: none; font-size: 11px; }

a.customizeLink, a.deleteLink, a.executeLink { background-position: top left; background-repeat: no-repeat; height: 16px; width: 16px; display: inline-block; text-indent: -3000px; }
a.customizeLink { background-image: url(../images/icons/gears.png); }
a.customizeLink.disabled { background-image: url(../images/icons/gearsDisabled.png); cursor: default; }
a.deleteLink { background-image: url(../images/icons/deleteRow.png); }
a.executeLink { background-image: url(../images/icons/play.png); }
div#managerGrid a.executeLink { margin-right: 5px; }
div#managerGrid a.executeLink:hover, div#managerGrid a.deleteLink:hover, div#managerGrid a.executeLink:focus, div#managerGrid a.deleteLink:focus { background-position: bottom left; }

.ext-el-mask { z-index: 9000; background-color: #000; }

div .ext-el-mask { background-color: #EFEFEF; }

div.x-window-dlg { z-index: 12000; }

#managementGrid span.required { font-size: inherit; vertical-align: inherit; }


