ul.formFields {
	list-style-type:none;
	margin:0pt;
	padding:0pt;
	width:100%;
}
li.fieldGroup {
	clear:both;
	margin:0pt;
	padding:4px 5px 2px 9px;
	position:relative;
}

ul.formFields li.side label.desc {
	float:left;
	width:30%;
	text-align:right;
	padding-right:1%;
	color: #173D5F;
	font-family:Arial, sans-serif;
	padding-top: 4px;
}
ul.formFields li input {
	width:100%;
	padding:3px 4px;
	border:1px solid #7f9db9;
}
ul.formFields li textarea {
	padding:3px 4px;
	border:1px solid #7f9db9;
}
ul.formFields li select {
	padding:2px;
}
ul.formFields li.side input {
	float:left;
	width:66%;
}
ul.formFields li.side input.checkbox {
	float:left;
	width:auto;
	border:0;
}
ul.formFields li.side select {
	float:left;
	width:68.6%;
}
ul.formFields li.side select.expMonth {
	width:23.8%;
}
ul.formFields li.side select.expYear {
	width:43.8%;
	margin-left:1%;
}
ul.formFields li.side textarea {
	width:66%;
}
/*ul.formFields li.side input.date,*/
ul.formFields li.side input.lookup {
	width:60%;
}
li.side {
	padding:4px 0;
	clear: left;
}
form .req {
	color:red !important;
	float:none;
	font-weight:bold;
	margin:0pt;
}
input.text, input.file, textarea.textarea, select.select{
	margin:0;
	font-size:100%;
	color:#333;
}
input.text, input.file, textarea {
	padding:3px;
	margin:0;
}
form li.fieldGroup, form li.buttons {
	display:block;
}
form li:after, .buttons:after{
	content:"."; 
	display:block;
	height:0; 
	clear:both; 
	visibility:hidden;
}

ul.formFields li.clear {
	clear:both;
	font-size:1px;
	line-height:1px;
}
ul.width600 {
	width:600px;
}
ul.width375 {
	width:375px;
}
span.required {
	font-size: 1.6em; color:#f00; vertical-align: text-top;
}
span.helpText {
	display: none;
}
a.helpLink img {
	border:none;
	vertical-align: -20%;
	background-color: #eee;
}
a.helpLink {
	margin: 0px 2px;
}
a.helpLink:hover img {
	background-color: #ffb;
}
h4.formSectionHeader {
	font-weight:bold;
	font-family:Arial, sans-serif;
	font-size:14px;
	margin:0 0 6px 0;
	padding:0;
	color:#777;
	border-bottom:1px solid #aaa;
}
h4.gridSectionHeader {
	font-weight:bold;
	font-family:Arial, sans-serif;
	font-size:14px;
	margin:0;
	padding:10px 0 0 0;
	color:#777;
	border-bottom:1px solid #aaa;
}
.formButtonFooter {
	text-align:center;
	border-top:1px solid #aaa;
	padding:6px 0 7px;
	margin:8px 0 0 0;
	background: #F6F7FB;
}
a.lookupLink {
	background:transparent url(../images/icons/view.gif) no-repeat 0% 0%;
	display:block;
	float:left;
	height:16px;
	margin:5px 3px 0pt;
	overflow:hidden;
	padding:0pt;
	text-indent:-2000px;
	width:16px;
}

a.lookupLink2 {
	/*background:transparent url(../images/icons/view.gif) no-repeat 0% 0%;*/
	display:block;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	height:16px;
	/*overflow:hidden;*/
	padding:0;
	/*text-indent:-2000px;*/
	width:16px;
}
a.tableLookupLink {
	background:transparent url(../images/icons/view.gif) no-repeat 0% 0%;
	display:block;
	height:16px;
	margin:0;
	overflow:hidden;
	padding:0;
	text-indent:-2000px;
	width:16px;
}
.lookupTable {
	background:#fff;
	padding:2px;
	width:100%;
}
.searchSection {
	background:#f6f7fb;
	padding-top:10px;
	border-bottom:1px solid #888;
}
.searchPersonButtons {
	text-align:center;
	padding:12px;
	position:relative;
}
.personFormButtons {
	position:relative;
}
.personFormButtons input {
	font-size:13px;
	margin:0 5px;
	font-family:arial;
}

.saveButton,.searchButton {
	font-family:arial;
	text-decoration:none;
	font-weight:bold;
	padding:0 5px 0 5px;
	background: #c8c9c8 url(../images/buttonGradient.gif) repeat-x top left;
	border:1px solid #777;
	border-bottom:1px solid #535353;
	margin:0 4px;
	color:#000;
	height:24px;
}
.saveButton:hover, .searchButton:hover {
	background-position: bottom left; 
	cursor:pointer;
	background-color: #91b5d0;
}

/*
.searchButton {
	font-weight:bold;
	color:#444;
}
*/
#savedMarker {
	background:transparent url(../images/icons/check-eee.gif) no-repeat center left;
	margin-left:12px;
	padding-left:18px;
	color:#080;
	font-weight:bold;
	font-size:14px;
}
.newAccountButton {
	position:absolute;
	bottom:13px;
	right:8px;
	color:#525F95;
	font-weight:bold;
	font-family:arial;
	font-size:14px;
}
.searchPersonButtons .newAccountButton {
	bottom:6px;
}
.newLink {
	color:#525F95;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
}
ul.formFields li input.textError {
	background:#fed;
	border:1px solid #d00;
}
ul.formFields li textarea.textError {
	background:#fed;
	border:1px solid #d00;
}
table tr td input.text {
	border:1px solid #7f9db9;
	padding:1px;
}
table tr td input.textError {
	background:#fed;
	border:1px solid #d00;
	padding:1px;
}
.globalFormErrors h5 {
	margin:6px 0 4px;
	font-size:13px;
	color:#d00;
}
.globalFormErrors ul {
	margin:0;
	padding-left:30px;
	list-style-type:disc;
}
.globalFormErrors ul li {
	color:#d00;
}
.globalFormErrors {
	padding-left:36px;
	margin-left:8px;
	margin-bottom:10px;
	background:transparent url(../images/icons/document_forbidden.png) no-repeat left 10px;
	padding-bottom:4px;
}
.accountForm h1 {
	margin:12px 0 0 0;
	color:#EE5522;
	font-size:22px;
	background:#eee;
	border:1px solid #aaa;
	padding:8px 8px 10px;
}
table.formTable {
	margin:10px 50px;
}
.formTable td {
	padding:3px;
	font-size:12px;
}
.formTable td label {
	font-size:14px;
	color:#444;
}
.formTable input {
	padding:3px;
	margin:0;
}
.tablesorter td input {
	margin:0;
	padding:0;
	width:100%;
}
.tablesorter td input.lookup {
	width:80%;
}
p.gridActions {
	margin:6px 0;
	position:relative;
}
.gridActions #subTotal {
	position:absolute;
	right:24px;
}
#subTotal .value {
	background-color:#f0f0f0;
	border:1px solid #444;
	padding:0px 2px 1px 8px;
}
.gridActions .warning {
	padding-left:20px;
	background:transparent url(../images/icons/warning.png) no-repeat left 2px;
}
.gridActions .warningText {
	display:none;
}
.gridActions .warning .warningText {
	color:#c00;
	display:inline;
}
#gift_distribution input.amount {
	text-align:right;
}
#gift_distribution thead tr th {
	background-color:#E6EEEE;
	color:#000;
	font-size:11px;
	font-weight:bold;
	padding:2px 0px 2px 5px;
}
table#gift_distribution thead th.actionColumn {
	width:19px;
}
.codeList {
	height:300px;
	overflow-y:scroll;
	border:1px solid #bbb;
}
.codeList table input {
	font-family:arial,sans-serif;
}
div.lookupWrapper {
	position:relative;
	float:left;
	width:66%;
}
table div.lookupWrapper {
	position:relative;
	width:100%;
}
div.lookupWrapper a.dp-choose-date {
	position:absolute;
	right:-10px;
}
ul.formFields div.lookupWrapper input {
	width:100%;
}

.lookupImg {
	position:absolute;
	top:0;
	left:0;
	z-index:5000;
}

.readOnlyField {
	border:1px solid #7F9DB9;
	padding:1px 4px;
	float:left;
	width:66%;
	background:#eee;
}
.lookupField, .multiLookupField {
	border:1px solid #7F9DB9;
	padding:1px 8px 2px 0;
	float:left;
	width:100%;
    position: relative;
}
.lookupField a.hideText, .multiLookupField a.hideText {
	background: transparent url(../images/icons/view.gif) no-repeat top left;
	display: block;
	height: 16px;
	width: 16px;
	margin: 2px;
	padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}
a.hideText {
	font-size: 0;
    text-decoration: none;
    line-height: 0;
    color: transparent;
}

div.lookupWrapper div.multiPicklistOption, div.lookupWrapper div.queryLookupOption, div.lookupWrapper div.multiQueryLookupOption { float: left; clear: left; width: 94%; padding-left: 4px; }
div.lookupWrapper div.multiPicklistOption:hover, div.lookupWrapper div.queryLookupOption:hover, div.lookupWrapper div.multiQueryLookupOption:hover { font-weight: bold; background-color: #DFF1FF; }
a.deleteOption { vertical-align: bottom; margin-left: 3px; }
a.deleteOption img { vertical-align: top; }

table.alignLeft td,
table.alignLeft th {
	text-align:left;
}

input:focus, textarea:focus, select:focus, .focused { background-color: #DFF1FF; }
ul.formFields li.side label.inFocus { font-weight: bold; color: black; }
