/*	hasLayout bugs affect IE6 and IE7.
	Techniques for giving layout:
	{ height:1% }, {zoom: 1}
*/
.personFormButtons {
	zoom: 1;
}
.iconHeader {
	zoom: 1;
}

/* 100% width table inside scrolling DIV is rendered too wide */
.codeList table.tablesorter {
	width:753px;
}


ul.formFields li.side select {
	width:68.8%;
	margin-top:2px; /* To maintain spacing since padding can't be adjusted */
}

/* input button widths with padding are weird in IE.
input.iebuttonfix {
    width: auto;
    overflow: visible;
}
*/

div.lookupWrapper {
	position:relative;
	float:left;
	width:66%;
}
ul.formFields div.lookupWrapper input {
	width:91%;
}
a.hideText {
	text-indent: -2000px;
}