/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (in jqModal.js). You
	can change this value by either;
	  a) supplying one via CSS
	  b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
	
.jqmWindow {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    color: #333;
    font-family: arial, sans-serif; width: auto; min-width: 20em; border: 0;
}
.jqmWindow .titleBar {
	background: #ffa648 url(../images/modalGradient.gif) repeat-x top left;
	position:relative;
	/*background-color:#ffa648;*/
}
.jqmWindow h4 {
	font-size:14px;
	cursor:move;
	margin: 0; padding: 0; line-height: 31px; text-align: center; vertical-align: middle; width: 100%; color: #FEFEFE;
}

.jqmWindow .modalTopLeft { background: url(../images/modal_top_left_blue.png) no-repeat top left; height: 31px; padding-left: 10px; background-color: transparent; margin: 0 18px 0 0; }
.jqmWindow .modalTopRight { background: url(../images/modal_top_right_blue.png) no-repeat top right; height: 31px; margin: 0 -25px 0 0; }
.jqmWindow .modalBottomLeft { background: url(../images/modal_bottom_left.png) no-repeat bottom left; height: 17px; padding: 0 0 0 10px; background-color: transparent; margin: 0 18px 0 0; position: relative; border: 0; }
.jqmWindow .modalBottomRight { background: url(../images/modal_bottom_right.png) no-repeat bottom right; height: 17px; width: 26px; position: absolute; right: -26px; top: 0; }
.jqmWindow .modalSideRight { position: absolute; background-image: url(../images/modal_side_right.png); background-repeat: repeat-y; background-position: top left; width: 9px; height: 100%; top: 0; right: -8px; }

.modalContentWrapper  {
	padding: 15px 4px 4px;
	background-color: #fff;
	position: relative; 
}
.jqmClose {
	position:absolute;
	cursor:pointer;
	right: 13px; top: 7px; width: 17px; height: 17px; background-image: url(../images/x_blue.gif); background-repeat: no-repeat; background-position: top left; 
}
.jqmClose:hover { background-position: bottom left; }

.jqmOverlay { background-color: #000; }

input#searchText { padding-right:20px; height:20px; }
input.showWait { background-image:url(../images/indicator.gif); background-position: right center; background-repeat: no-repeat; }
input#otherOptionText { width: 307px; }
table.multiSelect { text-align: left; margin: auto; padding: 0 20px; }
table.multiSelect thead th { text-align: left; background: #DCDCDC url(../images/glossyGray.png) repeat-x scroll left top; padding-left: 2px; border-color: #DCDCDC; border-style: solid; border-width: 1px; line-height: 25px; }
table.multiSelect thead th.spacer, table.multiSelect tbody td.spacer { width: 30px; min-width: 30px; max-width: 30px; background-color: #FFF; background-image: url(none); border: 0; }
table.multiSelect tbody td { min-width: 13em; border-color: #D1D1D1 gray gray #D1D1D1; border-style:solid; border-width:1px; border-top: 0; vertical-align: top; }
table.multiSelect tbody ul { list-style-image:none; list-style-position:outside; list-style-type:none; }
table.multiSelect tbody ul, table.multiSelect tbody ul ol { padding-left: 0; margin-left: 0; }
div.modalContent ul.queryUl, table.multiSelect tbody ul { max-height: 15em; overflow: auto; overflow-x: hidden; overflow-y: auto; } 
table.multiSelect tbody ul { height: 15em; margin: 0; }
table.multiSelect tbody ul li input[type=checkbox] { cursor: pointer; }
table.multiSelect tbody ul li, div.modalContent ul.queryUl li { font-size: 1.1em; border-bottom:1px solid #FFF; color: #000; line-height: 25px; border-bottom: 1px solid #EEE; white-space: normal; padding-right: 25px; vertical-align: middle; }
table.multiSelect tbody ul li { min-width: 105%; }

table.multiSelect tbody ul li:nth-child(2n+1), div.modalContent ul.queryUl li:nth-child(2n+1) { background-color: #EEE; border-bottom: #FFF; }
table.multiSelect tbody ul li:nth-child(2n), div.modalContent ul.queryUl li:nth-child(2n) { background-color: #FFF; border-bottom: #FFF; }

table.multiSelect tbody ul li:hover, div.modalContent ul.queryUl li:hover { background-color: #DFF1FF; color: #000; }
form#multiPicklistForm table.multiSelect tbody ul li { min-width: 150px; }
table.multiSelect thead th strong { margin-left: 5px; vertical-align: middle; }
table.multiSelect thead th input[type=checkbox] { margin: 4px 2px; }
div.jqmWindow .buttonsDiv { margin: 6px auto; padding-top: 6px; text-align: center; }

div.modalSearch, div.otherOptionDiv { margin-bottom: 15px; padding-left: 10px; padding-right: 10px; white-space: nowrap; line-height: 26px; }
div.modalSearch *, div.otherOptionDiv *, div.additionalMultiOptionDiv * { vertical-align: middle; }
div.modalSearch select { margin-right: 3px; }
div.modalSearch label, div.otherOptionDiv label, div.additionalMultiOptionDiv label { font-weight: bold; font-size: 1.1em; margin-right: 3px; width: 70px; }
div.modalSearch label { margin-left: 20px; text-align: right; }

div.otherOptionDiv { margin-bottom: 30px; }
div.additionalMultiOptionDiv { margin-top: 15px; margin-bottom: 15px; }

div.modalContent ul.queryUl { list-style-image: none; list-style-position: outside; list-style-type: none; text-align: left; padding-left: 0; margin: 0 20px 20px;
	border-color:#D1D1D1 gray gray #D1D1D1; border-style:solid; border-width:1px; }
div.modalContent ul.queryUl li { padding-left: 7px; }
div.modalContent ul.queryUl li input { margin-right: 7px; vertical-align: baseline; }
table.multiSelect tbody ul li a, div.modalContent ul.queryUl li a { margin-left: 7px; }

div.noResults { font-weight: bold; background-color: #FFF; text-align: center; padding: 10px 5px 20px; font-size: 1.1em; color: navy; max-width: 420px; }
table.multiSelect tbody ul li.selected, div.modalContent ul.queryUl li.selected { background-color: #9FFFB5; color: #000; font-size: 1.2em; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed positioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}