/* Modal window */
table.multiSelect tbody td { width: 20em; }
div.jqmWindow { width: 45em; }
div.jqmWindow .buttonsDiv, div.modalSearch  { zoom: 1; }
.jqmWindow .modalTopLeft, .jqmWindow .modalTopRight, .jqmWindow .modalBottomLeft, .jqmWindow .modalBottomRight { height: auto; }
.jqmWindow .modalBottomLeft, .jqmWindow .modalBottomRight { top: -2px; }
ul.formFields li.side label.desc { padding-top: 2px; }
.saveButton,.button { height: 23px; }
a.lookupLink { top: 2px; right: -2px; }
table.tablesorter tbody tr td a.lookupLink { top: 2px; }
a.lookupLink:active, .lookupField a.hideText:active, .multiLookupField a.hideText:active, a.multiLookupLink:active { background-color: #DFF1FF; }
div.lookupWrapper a.dp-choose-date { top: -1px; right: -5px; }
a.dp-choose-date:active { background-color: #DFF1FF; }
input#searchText { font-size: 1.1em; }
table.tablesorter div.lookupWrapper { vertical-align: middle; }
.ac_results { width: 250px;}

li.queryLookupLi { padding-bottom: 8px; }
li.multiOptionLi { margin-bottom: -18px; }
li.multiOptionLi label { margin-top: 2px; }
div.singleColumn h4.formSectionHeader { width: 380px; }
div.lookupScrollTop { top:-12px; left:0;} 
div.lookupScrollContainer { top: -16px; }
div.lookupScrollBottom { top: -17px; }
a.multiLookupLink { top: 5px; }

tbody.gridRow tr.lineRow td div.lookupScrollContainer.readOnly { top: 0; }
tbody.gridRow tr.lineRow td div.lookupScrollRight { left: 194px; margin-left: 0; }
tr.hiddenRow, tr.hiddenRow td, tr.hiddenRow table, tr.hiddenRow td table ul.width350, tr.hiddenRow td table ul.width350 li { position: relative; }
tr.hiddenRow td table div, tr.hiddenRow td table ul.width350, tr.hiddenRow td table ul.width350 div, tr.hiddenRow td table ul.width350 li { zoom: 1; }
tr.hiddenRow td table ul.width350 div.multiLookupField { min-height: 18px; } 
tr.hiddenRow td table ul.width350 div.lookupScrollTop { top: 0; left:0; } 
tr.hiddenRow td table ul.width350 div.lookupScrollContainer { top: 0; }
tr.hiddenRow td table ul.width350 div.lookupScrollBottom { top: -2px; }
tr.hiddenRow td table ul.width350 li.side input.checkbox { width: auto; }
tr.hiddenRow td table ul.width350 li.multiOptionLi { margin-bottom: 0; }
tr.hiddenRow td table ul.width350 li.queryLookupLi { padding-bottom: 8px; }
tr.hiddenRow td table ul.width350 a.multiLookupLink { top: 7px; }
table.distributionLines .lineRow .lookupField { top: 1px; }
tr.hiddenRow.noDisplay td table ul.width350, tr.hiddenRow.noDisplay td table div, tr.hiddenRow.noDisplay td table ul.width350 li { display: none; }

span.step { margin: 10px 5px; clear: both; }
span.stepNum { display: block; float: left; }
span.stepTxt { display: block; min-height: 3.6em; vertical-align: inherit; padding: 0 0; }
