#greeting {
	color:#d46400;
}
#greeting .userName {
	font-weight:bold;
}
#banner {
	height:66px;
	width:100%;
	background: transparent url('../images/orangeleap-logo.png') no-repeat scroll 10px 10px;
}
#footer {
	font-size: 11px;
	border-top: 1px solid #ddd;
	margin-top: 40px;
	padding: 20px 0 50px 0;
}
#footer .legal {
	color:#777;
	text-align:center;
}
/*.navLeftCap {
	width:26px;
	height:33px;
	position:absolute;
	top:0;
	left:0;
	background: #fff url("../images/navGradientBothLeft.gif") no-repeat 6px top;
}*/
.navLeftCap {
	width:26px;
	/*height:57px;*/
	height:33px;
	position:absolute;
	top:0;
	left:0;
	background: #fff url("../images/leftOrange.gif") no-repeat 10px top;
}
.navRightCap {
	width:26px;
	/*height:57px;*/
	height:33px;
	position:absolute;
	top:0;
	right:0;
	background: #fff url("../images/rightOrange.gif") no-repeat -43px top;
}

#navmain {
	position:relative;
	background: #5987b3 url("../images/navGradientBoth.gif");
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	/*height:57px;*/
	height:33px;
	/*padding-top:2px;*/
    z-index: 8900;
}
#navmain ul {
	margin: 0;
	padding: 0;
}
#navmain ul li {
	list-style: none;
	float: left;
	/*margin-right: 3px;*/
}
#navmain ul li a {
	cursor:pointer;
	/*background-color: #444;*/
	color: #333;
	text-decoration: none;
	line-height: 22px;
	display: block;
	padding: 5px 8px 6px;
	/*border-top:1px solid #5987b3;*/
	/*margin: 0 0 3px 0;*/
}
#navmain ul li a:hover {
	/*background-color: #ffd3a6;*/
	background: #444 url("../images/navGradientBlack2.gif") repeat-x;
	color: #fff;
}
#navmain ul li a.active {
	background: #fff url("../images/navGradientGrey.gif") repeat-x;
	color: #000;
	border-top: 1px solid #c95d00;
	border-right: 1px solid #c95d00;
	border-left: 1px solid #c95d00;
	border-bottom: 1px solid #969696;
	padding: 4px 7px 5px;
	margin: 0;
}
#navmain ul li a.active:hover {
	background: #fff;
	color: #000;
}
#navmain ul li a.dropActive {
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #fff;
	padding: 4px 7px 5px;
	margin: 0;
	background: #fff;
	color: #000;
}
#navmain ul li a.dropActive:hover {
	background: #444 url("../images/navGradientBlack2.gif") repeat-x;
	color: #fff;
}
#navmain ul li a.bactive {
	cursor:pointer;
	color: #333;
	text-decoration: none;
	line-height: 22px;
	display: block;
	background: #444 url("../images/navGradientBlack2.gif") repeat-x;
	color: #fff;
}
#navmain ul.primaryNav li ul {
	position: absolute;
	/*left: -999em; hide it */
	display:none;
	background: #fff;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	z-index: 8901;
	padding:2px;
}
#navmain ul.primaryNav li ul li {
	float:none; 
}
#navmain ul.primaryNav li ul li.sectionTitle {
	font-size:12px;
	font-weight:normal;
	font-style:italic;
	padding-left:6px;
}
#navmain ul.primaryNav li ul li a {
	padding:0px 20px 0px 15px;
	font-size:12px; 
}
#navmain ul.primaryNav li ul li a:hover {
	background:#316ac5;
}
#navmain ul.primaryNav li:hover ul {
	/*left: auto;  show it */
}
#navmain .searchBar {
	position:absolute;
	top:4px;
	right:23px;
}
.searchBar select {
	margin-left:4px;
}
#banner ol {
	font-family:Verdana, sans-serif;
	font-size: 10px;
	margin: 0;
	padding: 8px 20px 0 0;
	float: right;
}
#banner ol li {
	list-style: none;
	float: left;
	margin-left: 1.5em;
}
#banner ol li a {
	color: #333;
	text-decoration: none;
	padding: 1px;	
}
#banner ol li a:hover {
	background-color: #ff8518;
	color: #fff;
	text-decoration: none;
}
div.navMessage {
	font-size:12px;
	font-weight:normal;
	margin:2px 0 0 8px;
	font-family:verdana;
}
div.homeIcon {
	width:20px;
	background:url("../images/icons/homeIcon.gif") no-repeat center center;
}
a:hover div.homeIcon {
	background:url("../images/icons/homeIconInverted.gif") no-repeat center center;
}
a.active:hover div.homeIcon {
	background:url("../images/icons/homeIcon.gif") no-repeat center center;
}
