.bodyContent {
	text-align: left;
	width: 1000px;
	margin: 0 auto;
	background-color:#fff;
}
.container {
	text-align: left;
	width: 930px;
	margin: 0 auto;
}
.content760 {
	width: 780px;
	margin-left: 12px;
	float:left;
	display:inline;
}
.contentFull {
	width: 960px;
	margin-left: 20px;
}
.iconHeader {
	border:1px solid #aaa;
	background: #eee;
	margin-bottom:12px;
    padding-left: 20px;
	background: #eee url(../images/sideBarGradient3.gif) repeat-x 0 -50px;
}
.iconHeader img {
	margin:6px 6px 0 2px;
}
.sideBar {
	width:180px;
	float:left;
	margin:12px 0 0 12px;
	display:inline;
}
.sideBar .wrapper {
/*	padding-top:6px;
	background: url(../images/sideBarTop.gif) top right no-repeat;*/
	/*border-top:1px solid #AAAAAA;*/
}
.sideBar .innerContent {
	background: #ffffff url(../images/sideBarGradient3.gif) repeat-x 0 -50px;
	padding: 6px;
	border: 1px solid #AAAAAA;
	/*border-top:1px solid #d4d4d4;*/
	margin-bottom:12px;
	min-height: 600px;
}
.sideBar h3 {
	margin:0;
	color:#525F95;
	font-family:Arial, sans-serif;
	font-size:14px;
}
.accountOptions {
	padding-top:2px;
	margin-top:2px;
	border-bottom:1px solid #ddd;
	margin-bottom:12px;
}
.accountOptions a,
.accountOptions a:visited {
	border-top:1px solid #ddd;
	display:block;
	color:#000;
	text-decoration:none;
	padding:0 5px;
	line-height:1.7em;
	/*background:transparent url("../images/doublearrow.gif") 97% 50% no-repeat;*/
	font-size:13px;
	font-family:Arial, sans-serif;
}

.navGroup a.groupHeader {
	background:transparent url("../images/expandDownArrow.gif") 97% 50% no-repeat;
}
.navGroup a.groupHeader:hover {
	background:#ffbc7e url("../images/expandDownArrow.gif") 97% 50% no-repeat;
}
.accountOptions a.groupActive {
	background:#fea;
	font-weight:bold;
	color:#000;
}
.accountOptions a.groupActive:hover {
	background:#fea;
}
.accountOptions a.active,
.accountOptions a.active:hover {
	cursor:default;
	/*background:#fea;*/
	background:#fea url("../images/doublearrow.gif") 97% 50% no-repeat;
	font-weight:bold;
	color:#000;
}
.accountOptions a:hover {
	/*background:#ffbc7e url("../images/doublearrow.gif") 97% 50% no-repeat;*/
	background:#ffbc7e;
	color:#000;
}
.accountOptions span.secondary {
	display:none;
}
.accountOptions span.active {
	display:block;
	padding-bottom:5px;
	background:#ffd;
}
.accountOptions span a,
.accountOptions span a:visited {
	border:0;
	font-size:12px;
	padding-left:14px;
}
.accountOptions span a:hover {
	/*background:#ffbc7e;*/
		background:#ffbc7e;
	color:#000;
}
.accountOptions span a.active,
.accountOptions span a.active:hover {
	cursor:default;
	font-size:12px;
	background:#ffd url("../images/doublearrow.gif") 97% 50% no-repeat;
}

.myTasks {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin-bottom:12px;
	margin-top:2px;
	padding-top:2px;
}
.myTasks a {
	font-size:13px;
	font-family:Arial, sans-serif;
	display:block;
	line-height:1.7em;
	padding:0pt 5px;
	text-decoration:none;
	color:#000;
}
.myTasks a:hover {
	text-decoration:underline;
}
#navmain ul li strong a:hover {
	background-color:#fff;
}
#mainContent {
	margin-top:18px;
}
form input.file {
	font-size:13px;
}
.mainForm {
	margin-top:12px;
}
.mainForm h1 {
	font-size:18px;
	font-weight:bold;
	margin:0;
	padding:0 0 6px 0;
	/*color:#555;*/
	color:#e52;
	border-bottom:1px solid #555;
}
.mainForm h2 {
	font-size:20px;
	margin:8px 0 0 0;
	color:#525f95;
}
.mainForm h3 {
	font-size:14px;
	margin:0 0 8px 0;
	font-family:Arial,Helvetica,sans-serif;
	color:#000;
}
.mainForm h4.searchResults {
	font-size:14px;
	font-weight:normal;
	color: #555;
	padding:4px 2px 2px 4px;
	margin:0;
}
.searchResultsHeader {
	border-top:1px solid #ccc;
	background: #E6EEEE;
	position:relative;
}
/* --- pagination --- */
.pagination {
	padding: 4px;
	font-size:85%;
	position:absolute;
	right:0;
	top:0;
}

.pagination a,
.pagination span {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #777;
  text-decoration: none;
  color: #555;
}

.pagination a:hover, 
.pagination a:active,
.pagination span:hover,
.pagination span:active {
  border: 1px solid #333;
  background-color:#b3cfdd;
}

.pagination span.current {
  border: 1px solid #333;
  font-weight: bold;
  /*background-color:#ffd;*/
  background-color:#6ea4c0;
  color: #fff;
}

.pagination span.disabled {
  border: 1px solid #ccc;
  color: #ccc;
}

.pagination span.pageDots {
	border:0;
	background:none;
	margin:0;
	padding:0;
}

.pagination span.disabled:hover {
  border: 1px solid #ccc;
  color: #ccc;
  background:transparent;
}
.taskCount {
	color:red;
	font-weight:normal;
}
span.majorDonor {
	font-size:14px;
	font-weight:bold;
	color:#e50;
	padding-left:10px;
}
.simplebox {
	background-color:#eef;
	padding:4px;
	border:1px solid #ccf;
	margin-bottom:8px;
}
.simplebox h4  {
	color:#444;
	font-size:14px;
}
td.action {
	width:10%;
}
td.codeValue {
	width:20%;
	text-align:left;
}
td.codeDescription {
	width:60%;
	text-align:left;
}
td.inactive {
	width:10%;
}
.filters table {
	width:98%;
	border-spacing:0;
}
.roundedbox,.roundedbox_bottom,.roundedbox_main,.roundedbox_main div.content {
	background: #fff url("../images/greyBox.gif") no-repeat bottom right;
}

.roundedbox {
	width: 400px;   /* Adjust this number for box width */
	margin: 10px auto;
}

.roundedbox_main {
	background-position: top right;
	padding-right: 10px;
}

.roundedbox_main div.content {
	background-position: top left;
	padding: 10px 0 10px 10px;
	height: auto !important;  /* Non-IE */
	height: 1%;  /* IE */
}

.roundedbox_bottom {
	background-position: bottom left;
	margin-right: 5px;
	height: 5px;
	line-height: 1px;
	font-size: 1px;
	padding: 0;
}
#feed {
	width:375px;
	padding-top:4px;
}
#feed p {
	margin:4px 0 2px 0;
}
#feed p a {
	color:#00a;
	text-decoration:none;
}
#feed p a:hover {
	text-decoration:underline;
}
.welcomePage h5 {
	color:#707070;
	font-family:arial;
	font-size:14px;
}
.welcomePage .column {
	margin-top:10px;
}
.googleWidget {
	visibility:hidden;
}
#sidebarsearch {
	width:121px;
}
#chart_div {
margin-right:30px;
}

.codeList {
    overflow-x:hidden;
}

.mpHeaderSortDown {
	background-image: url(../images/desc.gif);
}
.mpHeaderSortUp {
	background-image: url(../images/asc.gif);
} 
.mpHeaderSortDown, .mpHeaderSortUp {
    background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	background-color: #dce8e8;
	color:#000;
}
