/* tables */
table.tablesorter {
	font-family:arial;
	/*background-color: #CDCDCD;*/
	margin:0;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border-spacing:0;
	border-collapse: collapse;
	padding: 0;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	/*border: 1px solid #FFF;*/
	font-size: 10px;
	font-weight: bold;
	padding: 4px 4px 2px 4px;
	color:#525F95;
}
table.tablesorter thead tr .header {
	/*background-image: url(../images/bg.gif);*/
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .header span.required { vertical-align: bottom; }
table.tablesorter tbody td {
	color: #000;
	padding: 4px 4px 4px 4px;
	background-color: #FFF;
	vertical-align: top;
	font-size:12px;
	border-bottom:1px solid #ddd;
}
table.tablesorter tbody td a {
	color:#525F95;
	font-weight:bold;
	font-family:verdana;
	font-size:11px;
}
/*table.tablesorter tbody tr.highlight td {
	background-color:#ffd;
}*/
table.tablesorter tbody tr:hover td {
	background-color:#ffd;
}
table.tablesorter tbody tr.focused td {
	background-color:#FFEEAA;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	/*background-color: #8dbdd8;*/
	/*background-color: #acd0e5;*/
	/*background-color:#f6f7fb;*/
	background-color: #dce8e8;
	color:#000;
}
form table.minimal td {
	padding:0;
	border:0;
	margin:0;
}
th.header a {
	text-decoration:none;
}
