<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="contexts/address-context.xml"/>
	<import resource="contexts/audit-context.xml"/>
	<import resource="contexts/code-context.xml"/>
	<import resource="contexts/commitment-context.xml"/>
	<import resource="contexts/communicationHistory-context.xml"/>
	<import resource="contexts/constituent-context.xml"/>
	<import resource="contexts/dwr-context.xml"/>
	<import resource="contexts/email-context.xml"/>
	<import resource="contexts/gift-context.xml"/>
	<import resource="contexts/import-export-context.xml"/>
	<import resource="contexts/lookup-context.xml"/>
	<import resource="contexts/membership-context.xml"/>
	<import resource="contexts/payment-context.xml"/>
	<import resource="contexts/paymentHistory-context.xml"/>
	<import resource="contexts/picklist-context.xml"/>
	<import resource="contexts/phone-context.xml"/>
	<import resource="contexts/pledge-context.xml"/>
	<import resource="contexts/quartz-context.xml"/>
	<import resource="contexts/recurringGift-context.xml"/>
	<import resource="contexts/validator-context.xml"/>

	<!-- Abstract Controllers for Tangerine -->
	<bean id="tangerineFormController" class="com.mpower.controller.TangerineFormController" abstract="true">
    	<property name="personService" ref="personService"/>
    	<property name="siteService" ref="siteService"/>
	</bean>

	<bean id="tangerineConstituentAttributesFormController" class="com.mpower.controller.TangerineConstituentAttributesFormController" abstract="true" parent="tangerineFormController">
        <property name="addressService" ref="addressService" />
        <property name="paymentSourceService" ref="paymentSourceService" />
        <property name="phoneService" ref="phoneService" />
        <property name="emailService" ref="emailService" />
	</bean>

    <bean id="account" class="com.mpower.controller.AccountFormController">
        <property name="commandName" value="user"/>
        <property name="commandClass" value="com.mpower.domain.PasswordChange"/>
        <property name="validator">
            <bean class="com.mpower.controller.validator.PasswordChangeValidator"/>
        </property>
        <property name="formView" value="account" />
        <property name="successView" value="account" />
        <property name="ldapService" ref="ldapService"/>
    </bean>

    <bean id="welcome" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="welcome"/>
    </bean>

	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="order" value="0" />
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
		    <props>
		        <prop key="/account.htm">account</prop>
                <prop key="/welcome.htm">welcome</prop>
			</props>
		</property>
	</bean>

    <bean id="beanNameUrlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
      	<property name="order" value="1" />
   	</bean>

	<!-- Configures the Tiles layout system -->
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/mpower-tiles.xml</value>
			</list>
		</property>
	</bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
       	<property name="suffix" value=".jsp"></property>
    </bean>

<!-- 
	<bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
	    	<map>
	      		<entry key="com.mpower.domain.PaymentSource">
	        		<bean id="paymentSourceEditor" class="com.mpower.controller.payment.PaymentSourceEditor">
				    	<property name="paymentSourceService" ref="paymentSourceService" />
				    </bean>
				</entry>
			</map>
		</property>
	</bean>
 -->
</beans>
