<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
           
	<bean id="PropertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="1" />
		<property name="locations">
			<list>
				<value>classpath:tangerine.properties</value>
			</list>
		</property>
	</bean>

    <bean id="system.properties" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
      <property name="targetClass" value="java.lang.System" />
      <property name="targetMethod" value="getProperties" />
    </bean>
  
    <bean id="drools.host" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
	    <property name="targetObject"><ref local="system.properties"/></property><property name="targetMethod"><value>setProperty</value></property>
	    <property name="arguments"><list><value>drools.host</value><value>${drools.host}</value></list></property>
	</bean>
    <bean id="drools.port" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
	    <property name="targetObject"><ref local="system.properties"/></property><property name="targetMethod"><value>setProperty</value></property>
	    <property name="arguments"><list><value>drools.port</value><value>${drools.port}</value></list></property>
	</bean>

	<context:component-scan base-package="com.orangeleap.tangerine">
		<context:exclude-filter type="annotation" expression="java.lang.Deprecated"/>
	</context:component-scan>

	<aop:aspectj-autoproxy />

	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />

	<!--
	- The message source for this context, loaded from localized message files in the classpath (first) and then the database 
	-->
    <bean id="messageSource" class="com.orangeleap.tangerine.controller.validator.TangerineMessageSource">
        <property name="messageService" ref="messageService"/>
        <property name="staticMessageSource" ref="staticMessageSource"/>
	</bean>
	
	<bean id="staticMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
 		<property name="basename" value="tangerine-messages" />
		<property name="useCodeAsDefaultMessage" value="false" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
	</bean>
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:tangerine-sqlmap-config.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="dataSource" class="com.orangeleap.tangerine.util.TangerineDataSource">
		<property name="dataSource" ref="dataSource-pooled" />
		<property name="tangerineUserHelper" ref="tangerineUserHelper" />
		<property name="splitDatabases" value="${mysql.splitDatabases}" />
	</bean>
	
	<bean id="dataSource-pooled" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://${mysql.host}:${mysql.port}/orangeleap?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF8"/>
		<property name="username" value="${mysql.user}"/>
		<property name="password" value="${mysql.password}"/>
		<property name="maxActive" value="100"/>
		<property name="maxIdle" value="30"/>
		<property name="maxWait" value="10000"/>
		<property name="defaultAutoCommit" value="false"/>

		
<!--		<property name="testOnBorrow"><value>true</value></property>-->
<!--		<property name="validationQuery"><value>select * from DUAL</value></property>-->
<!--		<property name="testWhileIdle"><value>true</value></property>-->
	</bean> 
	
    <bean id="dataSource-pooled-jndi" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:/comp/env/jdbc/MPowerOpen</value>
		</property>
	</bean>

	<bean id="tangerineUserHelper" class="com.orangeleap.tangerine.util.TangerineUserHelperImpl"/>

	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!--
		The following beans were created and used in the JMS/MOM poc shown
		during Iteration 6. These beans can be removed but are being left
		right now as an example of how to use Spring with JMS/MOM
	-->

<!-- 		<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory"> 
			<property name="brokerURL" value="tcp://localhost:61616" /> 
		</bean> 
		<bean	id="testDestination"	class="org.apache.activemq.command.ActiveMQQueue"> 
			<constructor-arg index="0" value="test.orangeleap.queue" /> 
		</bean> 
		
		<bean id="jmsTemplate"	class="org.springframework.jms.core.JmsTemplate"> 
			<property	name="connectionFactory" ref="connectionFactory" /> 
			<property	name="defaultDestination" ref="testDestination" /> 
			<property	name="messageConverter" ref="giftConverter" /> 
		</bean> 

		<bean	id="giftConverter"	class="com.orangeleap.tangerine.service.jms.GiftMessageConverter"> 
		</bean> 

		<bean	id="creditGateway"	class="com.orangeleap.tangerine.service.jms.TangerineCreditGatewayImpl"> 
			<property	name="jmsTemplate" ref="jmsTemplate" /> 
		</bean>
-->
		<bean id="paymentGateway" class="com.orangeleap.tangerine.service.payments.OrbitalPaymentGateway">
			<property name="configFile" value="/usr/local/paymentech/config/linehandler.properties"/>
		</bean>

</beans>