<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.directwebremoting.org/schema/spring-dwr
       http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

    <!-- the application context definition for the mpower DispatcherServlet -->

    <bean id="messageSource" class="com.mpower.controller.validator.MpowerMessageSource">
        <property name="messageService" ref="messageService"/>
	</bean>

	<bean id="paymentManager" class="com.mpower.controller.PaymentManagerFormController">
    	<property name="commandName" value="paymentSource" />
    	<property name="commandClass" value="com.mpower.domain.PaymentSource" />
		<property name="validators">
			<list>
	            <bean class="com.mpower.controller.validator.PaymentSourceValidator">
			        <property name="pageType" value="paymentSource"/>
			        <property name="siteService" ref="siteService" />
	            </bean>
			</list>
        </property>
    	<property name="personService" ref="personService" />
    	<property name="paymentSourceService" ref="paymentSourceService" />
    </bean>

    <bean id="paymentManagerEdit" class="com.mpower.controller.PaymentManagerEditFormController">
    	<property name="commandName" value="paymentSource" />
    	<property name="commandClass" value="com.mpower.domain.PaymentSource" />
    	<property name="personService" ref="personService" />
    	<property name="paymentSourceService" ref="paymentSourceService" />
    </bean>

    <bean id="paymentSourceDelete" class="com.mpower.controller.PaymentSourceDeleteController">
    	<property name="paymentSourceService" ref="paymentSourceService" />
    </bean>

	<bean id="addressManager" class="com.mpower.controller.AddressFormController">
    	<property name="commandName" value="address" />
    	<property name="commandClass" value="com.mpower.domain.Address" />
<!--		<property name="validators">-->
<!--			<list>-->
<!--	            <bean class="com.mpower.controller.validator.AddressValidator">-->
<!--			        <property name="pageType" value="paymentSource"/>-->
<!--			        <property name="siteService" ref="siteService" />-->
<!--	            </bean>-->
<!--			</list>-->
<!--        </property>-->
        <property name="validator">
            <bean class="com.mpower.controller.validator.EntityValidator">
		        <property name="pageType" value="address"/>
		        <property name="siteService" ref="siteService" />
            </bean>
        </property>
    	<property name="addressService" ref="addressService" />
    	<property name="personService" ref="personService" />
    	<property name="siteService" ref="siteService" />
    </bean>

    <bean id="addressManagerEdit" class="com.mpower.controller.AddressManagerEditFormController">
    	<property name="commandName" value="address" />
    	<property name="commandClass" value="com.mpower.domain.Address" />
    	<property name="addressService" ref="addressService" />
    	<property name="personService" ref="personService" />
    	<property name="siteService" ref="siteService" />
    </bean>

    <bean id="addressDelete" class="com.mpower.controller.AddressDeleteController">
    	<property name="addressService" ref="addressService" />
    </bean>

    <bean id="personSearch" class="com.mpower.controller.PersonSearchFormController">
        <property name="commandName" value="person"/>
        <property name="commandClass" value="com.mpower.domain.Person"/>
<!--        <property name="validator">-->
<!--            <bean class="spring_mvc_starter_anno.service.ProductValidator"/>-->
<!--        </property>-->
        <property name="formView" value="personSearch"/>
        <property name="successView" value="personSearch"/>
        <property name="personService" ref="personService"/>
        <property name="sessionService" ref="sessionService"/>
    </bean>


    <bean id="person" class="com.mpower.controller.PersonFormController">
        <property name="commandName" value="person"/>
        <property name="commandClass" value="com.mpower.domain.Person"/>
        <property name="validator">
            <bean class="com.mpower.controller.validator.EntityValidator">
		        <property name="pageType" value="person"/>
		        <property name="siteService" ref="siteService" />
            </bean>
        </property>
        <property name="formView" value="person" />
        <property name="successView" value="person" />
        <property name="personService" ref="personService" />
        <property name="siteService" ref="siteService" />
    </bean>

    <bean id="account" class="com.mpower.controller.AccountFormController">
        <property name="commandName" value="user"/>
        <property name="commandClass" value="com.mpower.domain.PasswordChange"/>
        <property name="validator">
            <bean class="com.mpower.controller.validator.PasswordChangeValidator"/>
        </property>
        <property name="formView" value="account" />
        <property name="successView" value="account" />
        <property name="ldapService" ref="ldapService"/>
    </bean>

    <bean id="gift" class="com.mpower.controller.GiftFormController">
        <property name="commandName" value="gift"/>
        <property name="commandClass" value="com.mpower.domain.Gift"/>
		<property name="validator">
            <bean class="com.mpower.controller.validator.EntityValidator">
		        <property name="pageType" value="gift"/>
		        <property name="siteService" ref="siteService" />
            </bean>
        </property>
        <property name="formView" value="gift" />
        <property name="successView" value="giftView" />
        <property name="commitmentService" ref="commitmentService" />
        <property name="giftService" ref="giftService" />
        <property name="paymentSourceService" ref="paymentSourceService" />
        <property name="personService" ref="personService" />
        <property name="siteService" ref="siteService" />
    </bean>

    <bean id="giftRefund" class="com.mpower.controller.GiftRefundController">
        <property name="giftService" ref="giftService" />
    </bean>


    <bean id="giftSearch" class="com.mpower.controller.GiftSearchFormController">
        <property name="commandName" value="gift"/>
        <property name="commandClass" value="com.mpower.domain.Gift"/>
        <property name="formView" value="giftSearch"/>
        <property name="successView" value="giftSearch"/>
        <property name="giftService" ref="giftService"/>
        <property name="sessionService" ref="sessionService"/>
    </bean>


    <bean id="giftList" class="com.mpower.controller.GiftListController">
        <property name="giftService" ref="giftService"/>
        <property name="personService" ref="personService"/>
    </bean>

    <bean id="giftView" class="com.mpower.controller.GiftViewController">
        <property name="giftService" ref="giftService" />
    </bean>

    <bean id="commitment" class="com.mpower.controller.CommitmentFormController">
        <property name="commandName" value="commitment"/>
        <property name="commandClass" value="com.mpower.domain.Commitment"/>
		<property name="validators">
			<list>
	            <bean class="com.mpower.controller.validator.CommitmentValidator">
			        <property name="pageType" value="commitment"/>
			        <property name="siteService" ref="siteService" />
	            </bean>
	            <bean class="com.mpower.controller.validator.EntityValidator">
			        <property name="pageType" value="commitment"/>
			        <property name="siteService" ref="siteService" />
	            </bean>
			</list>
        </property>
        <property name="formView" value="commitment" />
        <property name="successView" value="commitmentView" />
        <property name="commitmentService" ref="commitmentService" />
        <property name="paymentSourceService" ref="paymentSourceService" />
        <property name="personService" ref="personService" />
        <property name="siteService" ref="siteService" />
    </bean>

    <bean id="commitmentSearch" class="com.mpower.controller.CommitmentSearchFormController">
        <property name="commandName" value="commitment"/>
        <property name="commandClass" value="com.mpower.domain.Commitment"/>
        <property name="formView" value="commitmentSearch"/>
        <property name="successView" value="commitmentSearch"/>
        <property name="commitmentService" ref="commitmentService" />
        <property name="sessionService" ref="sessionService"/>
    </bean>


    <bean id="commitmentList" class="com.mpower.controller.CommitmentListController">
        <property name="commitmentService" ref="commitmentService" />
        <property name="personService" ref="personService"/>
    </bean>

    <bean id="commitmentView" class="com.mpower.controller.CommitmentFormController">
        <property name="commandName" value="commitment"/>
        <property name="commandClass" value="com.mpower.domain.Commitment"/>
		<property name="validator">
            <bean class="com.mpower.controller.validator.EntityValidator">
		        <property name="pageType" value="commitment"/>
		        <property name="siteService" ref="siteService" />
            </bean>
        </property>
        <property name="formView" value="commitmentView" />
        <property name="successView" value="commitmentView" />
        <property name="commitmentService" ref="commitmentService" />
        <property name="paymentSourceService" ref="paymentSourceService" />
        <property name="personService" ref="personService" />
        <property name="siteService" ref="siteService" />
    </bean>

    <bean id="personView" class="com.mpower.controller.PersonViewController">
        <property name="personService" ref="personService"/>
        <property name="giftService" ref="giftService" />
    </bean>

    <bean id="codeHelper" class="com.mpower.controller.CodeHelperController">
        <property name="codeService" ref="codeService"/>
    </bean>

    <bean id="queryLookup" class="com.mpower.controller.QueryLookupController">
        <property name="queryLookupService" ref="queryLookupService"/>
    </bean>

    <bean id="siteAudit" class="com.mpower.controller.AuditViewController">
        <property name="auditService" ref="auditService"/>
		<property name="viewName" value="siteAudit"/>
    </bean>

    <bean id="audit" class="com.mpower.controller.AuditViewController">
        <property name="personService" ref="personService"/>
        <property name="auditService" ref="auditService"/>
		<property name="viewName" value="audit"/>
    </bean>

    <bean id="codes" class="com.mpower.controller.CodeManageController">
        <property name="codeService" ref="codeService"/>
    </bean>

    <bean id="welcome" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="welcome"/>
    </bean>

	<bean id="code" class="com.mpower.controller.CodeFormController">
        <property name="commandName" value="code"/>
        <property name="commandClass" value="com.mpower.domain.customization.Code"/>
        <property name="formView" value="code" />
        <property name="successView" value="code" />
        <property name="codeService" ref="codeService"/>
    </bean>

	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="order" value="0" />
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
		    <props>
		        <prop key="/dwr/**">dwrController</prop>
		        <prop key="/account.htm">account</prop>
		        <prop key="/person.htm">person</prop>
		        <prop key="/personSearch.htm">personSearch</prop>
		        <prop key="/personView.htm">personView</prop>
		        <prop key="/gift.htm">gift</prop>
		        <prop key="/giftList.htm">giftList</prop>
		        <prop key="/giftRefund.htm">giftRefund</prop>
		        <prop key="/giftSearch.htm">giftSearch</prop>
		    	<prop key="/giftView.htm">giftView</prop>
		        <prop key="/commitment.htm">commitment</prop>
		        <prop key="/commitmentList.htm">commitmentList</prop>
		        <prop key="/commitmentSearch.htm">commitmentSearch</prop>
		    	<prop key="/commitmentView.htm">commitmentView</prop>
                <prop key="/codeHelper.htm">codeHelper</prop>
                <prop key="/code.htm">code</prop>
                <prop key="/codes.htm">codes</prop>
                <prop key="/siteAudit.htm">siteAudit</prop>
                <prop key="/audit.htm">audit</prop>
                <prop key="/welcome.htm">welcome</prop>
                <prop key="/commitment.htm">commitment</prop>
                <prop key="/queryLookup.htm">queryLookup</prop>
                <prop key="/paymentManager.htm">paymentManager</prop>
                <prop key="/paymentManagerEdit.htm">paymentManagerEdit</prop>
                <prop key="/paymentSourceDelete.htm">paymentSourceDelete</prop>
                <prop key="/addressManager.htm">addressManager</prop>
                <prop key="/addressManagerEdit.htm">addressManagerEdit</prop>
                <prop key="/addressDelete.htm">addressDelete</prop>
			</props>
		</property>
	</bean>

    <bean id="beanNameUrlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
      	<property name="order" value="1" />
   	</bean>

	<!-- Configures the Tiles layout system -->
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/mpower-tiles.xml</value>
			</list>
		</property>
	</bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
       	<property name="suffix" value=".jsp"></property>
    </bean>

    <bean id="dailyRuleFiringJob" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass" value="com.mpower.service.rule.DailyRuleFiringJob"/>
  	</bean>

  	<bean id="cronRuleTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
  		<property name="jobDetail" ref="dailyRuleFiringJob" />
  		 <!-- run every morning at 3 AM
  		<property name="cronExpression" value="0 0 3 * * ?" />-->
  		<property name="cronExpression" value="0,30 * * * * ? *" />
  	</bean>

  	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="recurringGiftService"/>
		<property name="targetMethod" value="processRecurringGifts" />
	</bean>

  	<bean id="cronRuleTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerBean">
  		<property name="jobDetail" ref="jobDetail" />
  		<!-- run every morning at 3 AM
  		<property name="cronExpression" value="0 0 3 * * ?" />-->
  		<property name="cronExpression" value="0/15 * * * * ?" />
  	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
<!--
				<ref bean="cronRuleTrigger"/>
-->
				<ref bean="cronRuleTriggerDaily"/>
			</list>
		</property>
		<property name="applicationContextSchedulerContextKey">
	    	<value>applicationContext</value>
	   	</property>
	</bean>

	<dwr:controller id="dwrController" debug="true" />

	<dwr:configuration />

	<bean id="echo" class="com.mpower.web.remote.HelloImpl">
        <dwr:remote javascript="Hello">
            <dwr:include method="greet" />
        </dwr:remote>
    </bean>

	<bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
	    	<map>
	      		<entry key="com.mpower.domain.PaymentSource">
	        		<bean id="paymentSourceEditor" class="com.mpower.controller.PaymentSourceEditor">
				    	<property name="paymentSourceService" ref="paymentSourceService" />
				    </bean>
				</entry>
			</map>
		</property>
	</bean>

</beans>
