<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.2.xsd">

	<global-method-security secured-annotations="enabled" />

    <http auto-config="true">
        <!-- Restrict URLs based on role -->
        <intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/logoutSuccess*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/css/login.css" filters="none" />
        <intercept-url pattern="/images/signInBox.gif" filters="none" />
        <intercept-url pattern="/images/mpowerLogo.gif" filters="none" />
        <intercept-url pattern="/images/favicon.ico" filters="none" />
        <intercept-url pattern="/css/main.css" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/person.htm" access="ROLE_TELLER" />
        <intercept-url pattern="/**" access="ROLE_USER" />

        <!-- Override default login and logout pages -->
        <form-login login-page="/login.jsp"
                             login-processing-url="/loginProcess"
                             default-target-url="/index.jsp"
                             authentication-failure-url="/login.jsp?login_error=1" />
        <logout logout-url="/logout" logout-success-url="/logoutSuccess.jsp" />
        <anonymous/>
        <concurrent-session-control max-sessions="1"/>
        <remember-me/>
    </http>

    <!--
    Usernames/Passwords are
        rod/koala
        dianne/emu
        scott/wombat
    -->
	<ldap-server url="ldap://10.0.2.143:10389/o=mpowerOpen" />
    <ldap-authentication-provider
        group-search-filter="member={0}"
        group-search-base="ou=groups"
        user-search-base="ou=people"
        user-search-filter="uid={0}"
        user-details-class="person"
    />

</beans:beans>
