<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.2.xsd">

	<global-method-security secured-annotations="enabled" />

    <http auto-config="true">
        <!-- Restrict URLs based on role -->
        <intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/logoutSuccess*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/css/login.css" filters="none" />
        <intercept-url pattern="/images/signInBox.gif" filters="none" />
        <intercept-url pattern="/images/mpowerLogo.gif" filters="none" />
        <intercept-url pattern="/**" access="ROLE_USER" />
        <intercept-url pattern="/person.htm" access="ROLE_TELLER" />

        <!-- Override default login and logout pages -->
        <form-login login-page="/login.jsp"
                             login-processing-url="/loginProcess"
                             default-target-url="/index.jsp"
                             authentication-failure-url="/login.jsp?login_error=1" />
        <logout logout-url="/logout" logout-success-url="/logoutSuccess.jsp" />
    </http>

	<!--
    <beans:bean id="myAuthProvider" class="com.mpower.controller.MpowerAuthenticationProvider">
        <custom-authentication-provider/>
        <beans:property name="userDetailsService" ref="userService"/>
    </beans:bean>
	-->

    <authentication-provider user-service-ref="userService"/>

    <!--
    Usernames/Passwords are
        rod/koala
        dianne/emu
        scott/wombat
        peter/opal
    -->
    	<!--
    <authentication-provider user-service-ref="userService">
        <jdbc-user-service data-source-ref="dataSource" />
        <password-encoder hash="md5"/>
        <user-service>
            <user name="rod" password="a564de63c2d0da68cf47586ee05984d7" authorities="ROLE_SUPERVISOR, ROLE_USER, ROLE_TELLER" />
	        <user name="dianne" password="65d15fe9156f9c4bbffd98085992a44e" authorities="ROLE_USER,ROLE_TELLER" />
            <user name="scott" password="2b58af6dddbd072ed27ffc86725d7d3a" authorities="ROLE_USER" />
            <user name="peter" password="22b5c9accc6e1ba628cedc63a72d57f8" authorities="ROLE_USER" />
	    </user-service>
	</authentication-provider>
        -->

</beans:beans>
