<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/integration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:jms="http://www.springframework.org/schema/integration/jms"
	xmlns:stream="http://www.springframework.org/schema/integration/stream"
    xmlns:amq="http://activemq.apache.org/schema/core"   
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/integration
			http://www.springframework.org/schema/integration/spring-integration-1.0.xsd
			http://www.springframework.org/schema/integration/jms
			http://www.springframework.org/schema/integration/jms/spring-integration-jms-1.0.xsd			
			http://www.springframework.org/schema/integration/stream
			http://www.springframework.org/schema/integration/stream/spring-integration-stream-1.0.xsd
			http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <amq:broker useJmx="true" persistent="false">
        <amq:transportConnectors>
          <amq:transportConnector uri="tcp://localhost:0" />
        </amq:transportConnectors>
      </amq:broker>
  
    <amq:connectionFactory id="connectionFactory" brokerURL="vm://localhost"/>

  

  <beans:bean id="GiftDestination" class="org.apache.activemq.command.ActiveMQQueue">
    <beans:constructor-arg value="queue.orangeleap.tangerine.gift"/>
  </beans:bean>
  
  <beans:bean id="ConstituentDestination" class="org.apache.activemq.command.ActiveMQTopic">
  	<beans:constructor-arg value="queue.orangeleap.tangerine.constituent"/>
  </beans:bean>
  
  <gateway id="newConstituent" service-interface="com.orangeleap.tangerine.integration.NewConstituent"/>
  
  <gateway id="newGift" service-interface="com.orangeleap.tangerine.integration.NewGift"/>
<!--  <gateway id="newConstituent" service-interface="com.orangeleap.tangerine.integration.NewConstituent"/>
  <gateway id="newAddress" service-interface="com.orangeleap.tangerine.integration.NewAddress"/> -->

  <channel id="newGiftChannel"/>
  <channel id="newConstituentChannel"/>
  <channel id="newAddressChannel"/>
  <channel id="gift_drools_channel"/>
  <channel id="constituent_drools_channel"/>
  <channel id="constituent_transformer"/>
  <channel id="constituent_marshalling_transformer"/>
    <channel id="gift_transformer"/>
    <channel id="gift_marshalling_transformer"/>
  <channel id="gift_jms_channel"/>
  <channel id="constituent_jms_channel"/>
  <channel id="payment_drools_channel"/>

  <service-activator input-channel="gift_drools_channel" ref="GiftDrools" method="doApplyRules"/>
  <service-activator input-channel="payment_drools_channel" ref="PaymentDrools" method="doApplyRules"/>
  <service-activator input-channel="constituent_drools_channel" ref="ConstituentDrools" method="doApplyRules"/>
  <!--  <service-activator input-channel="constituent_drools_channel" ref="ConstituentDrools" method="doApplyRules"/> -->
  
  <router id="routerEndpoint" input-channel="newGiftChannel" ref="giftRouter"/>
  <router id="routerEndpointConstituents" input-channel="newConstituentChannel" ref="constituentRouter"/>
  
  <beans:bean id="constituentRouter" class="org.springframework.integration.router.RecipientListRouter">
  	<beans:property name="channels">
  		<beans:list>
  			<beans:ref bean="constituent_drools_channel"/>
            <beans:ref bean="constituent_transformer"/>
  		</beans:list>
  	</beans:property>
  </beans:bean>
  
  <beans:bean id="giftRouter" class="org.springframework.integration.router.RecipientListRouter">
    <beans:property name="channels">
      <beans:list>
		<beans:ref bean="gift_drools_channel"/>
		<beans:ref bean="payment_drools_channel"/>
 		<beans:ref bean="gift_transformer"/>
      </beans:list>
    </beans:property>
  </beans:bean>

  <transformer input-channel="constituent_transformer" output-channel="constituent_marshalling_transformer" ref="constituentToConstituentTransformer"/>
  <transformer input-channel="gift_transformer" output-channel="gift_marshalling_transformer" ref="giftTransformer"/>

  <beans:bean id="marshallingTransformer" class="org.springframework.integration.xml.transformer.XmlPayloadMarshallingTransformer">
      <beans:constructor-arg>
          <beans:bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
              <beans:property name="contextPath" value="com.orangeleap.tangerine.ws.schema"/>
          </beans:bean>
      </beans:constructor-arg>
      <beans:constructor-arg>
          <beans:bean class="org.springframework.integration.xml.transformer.ResultToStringTransformer"/>
      </beans:constructor-arg>
  </beans:bean>

  <transformer input-channel="constituent_marshalling_transformer" output-channel="constituent_jms_channel" ref="marshallingTransformer">
  </transformer>
  <transformer input-channel="gift_marshalling_transformer" output-channel="gift_jms_channel" ref="marshallingTransformer"/>

  <beans:bean id="AbstractRulesInterceptor" class="com.orangeleap.tangerine.service.rule.RulesInterceptor" abstract="true">
    <beans:constructor-arg value="${drools.host}" index="0" />
    <beans:constructor-arg value="${drools.port}" index="1" />
  </beans:bean>

  <beans:bean id="GiftDrools" class="com.orangeleap.tangerine.service.rule.GiftRulesInterceptor" parent="AbstractRulesInterceptor"/>

  <beans:bean id="PaymentDrools" class="com.orangeleap.tangerine.service.rule.PaymentRulesInterceptor"/>
  
  <beans:bean id="ConstituentDrools" class="com.orangeleap.tangerine.service.rule.ConstituentRulesInterceptor"/>
  
  <beans:bean id="emailInterceptor" class="com.orangeleap.tangerine.service.rule.EmailRulesInterceptor">
  	<beans:property name="agendaGroup" value="email"/>
  </beans:bean>

  <beans:bean id="DroolsRuleAgent" class="com.orangeleap.tangerine.service.rule.DroolsRuleAgent">
    <beans:constructor-arg value="${drools.pollinterval}" index="0"/>
    <beans:constructor-arg value="${drools.cachedir}" index="1" />
    <beans:constructor-arg value="${drools.packagedir}" index="2" />
  </beans:bean>

  <jms:outbound-channel-adapter id="ConstituentJms" channel="constituent_jms_channel" destination="ConstituentDestination" />
  <jms:outbound-channel-adapter id="GiftJms" channel="gift_jms_channel" destination="GiftDestination" />

	<poller id="poller" default="true">
		<interval-trigger interval="1000"/>
	</poller>

</beans:beans>